
@use './commons' as *;

a{
    text-decoration: none;
    color: unset;
    font-weight: unset;
}

.categories-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 3rem;
    gap: 3rem;
}

.category-image {
    width: 200px;
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.category-name {
    text-align: center;
    text-transform: capitalize;
    color: $font-secondary;
    font-size: 1.2rem;
}

.category-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 16rem;
    cursor: pointer;
    background: white;
    padding: 1rem 1rem 0.4rem 1rem;
    border-radius: 5px;
    &:hover{
        transform: scale(1.025);
        box-shadow: 0px 0px 11px 2px #61618a;        

    }
}


@media screen and (min-width: 800px) {


    
    a{
        text-decoration: none;
        color: unset;
        font-weight: unset;
    }

    .categories-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 3rem;
        gap: 0;
    }

    .category-image {
        width: 200px;
        height: 200px;
        background-position: center;
        background-size: contain;
    }

    .category-name {
        text-align: center;
        text-transform: capitalize;
    }

    .category-card {
        cursor: pointer;
        background: white;
        padding: 1rem 1rem 0.4rem 1rem;
        border-radius: 5px;
        &:hover{
            transform: scale(1.025);
            box-shadow: 0px 0px 11px 2px #61618a;        

        }
    }



}