.greeting {
    display: flex;
    width: 100%;
    padding: 2rem;
    font-size: 1rem;
    background: linear-gradient(264deg, #222229, #1d1d27, #282830);
    color: #ceceff;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}